.body {
    margin: 0;
}
.wrapper {
    width: 1200px;
    margin: 0 auto;
}
.header {
    background-color: #666;
}
.top_menu {
    display: flex;
    justify-content: space-between;
}
.top_menu_links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
}
.top_menu_links a {
    color: white;
    text-decoration: none;
}
.banner {
    background-image: url("img/banner1.png");
    background-size: cover;
    text-align: center;
    color: white;
    padding: 20px 0;
}
.footer {
    background: #666;
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
    padding: 20px 0;
    margin-top: 20px;
}
.footer a {
    color: white;
}
.footer div {
    padding: 0 20px;
}
.footer_links p {
    margin: 0;
}
.footer_links {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
}
.footer_text {
    width: 25%;
}
.main_content_description h3 {
    color: #6DC72A ;
}
.main_content_description p {
    color: #999 ;
}
.main_content_description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.main_content_description_block {
    text-align: center;
    width: 40%;
    padding: 30px 0;
}
.line {
    width: 655px;
    padding-left: 47px;
    padding-right: 48px;
    margin-right: 0;
    margin-left: 250px;
}
.news {
    text-align: center;
    margin-top: 80px;
}
.news h3 {
    color: #6DC72A;
}
.news p {
    color: #999 ;
}
.child {
    display: flex;
}
.ch {
    margin-left: 80px;
    margin-top: 30px;
}
.chill {
    width: 400px;
    height: auto;
}
.text1 {
    margin-left: 150px;
    width: 400px;
    height: 250px;
    margin-top: 40px;
    margin-right: 0;
}
.text1 h3, p {
    color: #999;
}
.possible {
    color: #999;
}
.impossible {
    color: #6DC72A;
}
.omg {
    display: flex;
}
.contacts {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.contacts h3 {
    color: #6DC72A;
}
.contacts p {
    color: #999;
}
.map {
    text-align: center;
}
.contacts, .map {
    margin: 30px 0;
}
@media screen and (max-width:800px) {
    .wrapper {
        width: 100%;
    }
    .top_menu, .top_menu_links {
        flex-direction: column;
        align-items: center;
    }
    .top_menu_links a {
        font-size: 40px;
        margin: 10px 0;
    }
    .top_menu_logo img {
        width: 170px;
    }
}